{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test</h1>
    <div>

        <div>aujourd'hui : {{ "now"|date('d/m/Y') }}</div>
        {# commentaire #}
        {% set name = "Jean-François" %}
        <h2>sans filtre : {{ name }}</h2>
        <h2>avec filtre upper : {{ name|upper }}</h2>
        <h2>avec filtre length : {{ name|length }}</h2>

        {# création d'un tableau #}
        {% set couleurs = ["orange", "red", "blue", "green", "yellow", "white", "black"] %}
        <div>nombre de couleurs : {{ couleurs|length }}</div>
        <div>valeurs du tableau couleurs séparées d'un / : {{ couleurs|join(' / ') }}</div>
        {% for couleur in couleurs %}
            <div>numéro de l'itération de la boucle for : {{ loop.index }}</div>
            {% if loop.last %}
                <div>dernière itération de la boucle</div>
            {%  endif %}
            <div style="color: {{ couleur }}">{{ couleur }}</div>
        {% endfor %}

        {# création d'un objet #}
        {% set livre = {
            titre: 'les fourmis',
            annee : 2010,
            auteur : 'Bernard Werber'}
        %}
        <h3>{{ livre.auteur }}</h3>
        {% for key, val in livre %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Test {% endblock %}